/* Responsivity for 768px */

@media (min-width: 768px) {
    body {
        padding: 0px 24px;
    }

    .latest-news > .header-latest {
        padding: 12px 0px;
    }

    .exclusive-stories {
        display: flex;
        flex-direction: column;
    }

    .news-list {
        padding: 0;
    }

    .latest-news #hidden {
        display: contents;
    }

    .main-story {
        display: flex;
        flex-direction: row;
    }
    
    .main-story > a  {
        margin-right: 28px;
    }

    .main-story > a > img {
        width: 338px;
        height: 225px;
    }

    .absolute-div {
        position: static;
        padding: 0%;
        margin-top: 10px;
    }

    .first-secondary-story > .card-story {
        display: flex;
        flex-direction: row;

    }

    .card-story {
        padding: 0px;
    }

    .absolute-div {
        margin-bottom: 16px;
    }

    .text-story > h3 {
        padding-bottom: 4px;
        padding-top: 0px;
        line-height: 1.5rem;
    }

    .secondary-stories {
        display: flex;
        flex-direction: row;
        padding-top: 24px;
    }

    .border-top {
        display: flex;
        flex-direction: row;
        border-top: 1px black solid;
    }

    .first-secondary-story {
        display: flex;
        flex-direction: column;
        order: 2;
        border: none;
        padding-top: 0px;
   }

   .first-secondary-story img {
    width: 80%;
   }

   .first-secondary-story #hidden {
        display: none;
   }

   .second-secondary-story {
    padding-right: 32px;
   }

   .second-secondary-story > .card-news {
    border: none;
    padding-top: 0px;
   }



}