#pelato{
    width: 500px;
    height: 352px;
    margin: 0;
}

body{
    margin:0;
}


.article-section1{
    margin-left: 10px;
    border-bottom: 1px solid black;

}

.blockquote-section1{
    margin-left:0;
}