* {
    margin: 0;
    padding: 0px;
}

img {
    width: 100%;
}

small {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

time {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.border {
    border: 2px black double;
    width: 100%;
    margin-top: 3px;
}

.border-thin {
    border: 1px black solid;
    width: 100%;
    margin-top: 3px;
}

.border-double {
    border: 3px black solid;
    margin-top: 10px;
}

.border-rectangular {
    border: 4px black solid;
    padding: 5px;
}

section {
    margin-top: 0.25rem;
}

#hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}


.latest-news h3 {
    margin-top: 7px;
}

.latest-news> .header-latest {
    border-top: 6px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px;
}

.latest-news>div>h2 {
    padding: 12px 0px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: .125rem;
}

.border-caption {
    border-bottom: 0.015rem solid;
    padding-bottom: 4px;
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 22px;
}

.news-list > div > h3 {
    text-transform: capitalize;
}

.news-list > div {
    margin-top: 4px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
}

.read-more {
    border-bottom: 1px black solid;
}

.read-more > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
}

.exclusive-stories {
    margin-bottom: 40px;
    padding-top: 16px;
    border-top: 1px black solid;
}

.card-story {
    position: relative;
}

.main-story > .card-story  {
    padding: 0px 24px;
}

.absolute-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    background-color: white;
    border: 1px solid white;
    width: 80px;
}

.absolute-div > p {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
}

.absolute-div {
    position: absolute;
    top: -40px;
}

.absolute-div2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80px;
    padding: 10px;
}

.absolute-div2 > p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
}

.text-story > h3 {
    padding-top: 16px;
    padding-bottom: 4px;
}

.text-story > h3 > a {
    font-size: 30px;
    text-decoration: none;
}

#author {
    display: flex;
}

#author > * {
    margin-right: 4px;
    margin-top: 4px;
    font-size: 15px;
}

#author > a:hover {
    color: gray;
    text-decoration: underline;
}

.secondary-stories {
    margin: 10px 0px 10px 0px;
    padding: 0px 24px;
    
}

.cards-column {
    margin-top: 20px;
    border-top: 1px black solid;
}

.first-secondary-story {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 24px;
    border-top: 1px black solid;
}

.first-secondary-story > .card-story > .caption {
   padding-bottom: 12px;
}

.first-secondary-story > .card-story:first-child {
    padding-bottom: 24px;
}

.first-secondary-story > .card-story:nth-child(2) {
    border-top: 1px black solid;
    padding-top: 24px;
}

.first-secondary-story, .second-secondary-story > h3 > a {
    font-size: 22px;
}



.card-news {
    padding: 20px 0px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bolder;
    border-top: 1px black solid;
}

.card-news > span:first-child {
    color: red;
}

.card-news > span {
    color: gray;
}

.card-news > span > a {
    color: gray;
}

.card-news > span > a:hover {
    text-decoration: underline;
}
 
.content-bottom {
    border-top: 1px black solid;
    padding-top: 15px;
    margin-top: 5px;
    
}
.content-bottom > .text-story {
    padding: 10px 10px;
}

.content-bottom > .text-story > p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.bottom-news {
    padding: 10px 10px;
}

.bottom-second-story {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.bottom-second-story > .text-story {
    margin-bottom: 30px;
}

.bottom-second-story > .text-story > h3 > a {
    font-size: 40px;
}

.bottom-second-story > .text-story > p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.recommends {
    width: 100%;
}

.header-recommends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recommends > .header-recommends > img {
    width: 10%;
}

.news-carousel {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.item-carousel {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
}

.news-carousel >  .item-carousel > .circle-border > a > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.news-carousel > .item-carousel > .circle-border {
    border: 1px black solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 4px;

}

.text-item-carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.quote > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.quote > .text-story > h3 > a {
    font-size: 30px;
}

.quote > .text-story {
    padding: 10px;
}