body{
    margin:0;
}

.container-section1{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.immagini{
    width: 100%;
    margin: 0;
}
.square-container{
    position: relative;
}
.square-text-1{
    position: absolute;
    bottom:-3%;
    left: 3%;
    background-color: white;
    padding: 15px;
}
.immagini-sq{
    width: 100%;
    margin: 0
}


.article-section{
    padding:0.5rem;
}

.contenuto{
    padding-top: 1rem;
}


.border-xl{
    border-bottom:4px solid black;
    margin-bottom:3px;
}

.border{
    border: 1px solid black;
}

.container-section2{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.article-section2{
    padding:2%;
    font-size: 1rem;
}

.article-section2 > p{
    margin-bottom:5px;
    border-bottom:1px solid black;
    display: inline-block;
}

.article-section2 > h2{
    margin-top:3px;
    font-size: 1.3rem;
}

.container-section3{
padding:0.7rem;
display: flex;
flex-direction: row;
overflow-x: scroll;

}
.image-card{
    width: 100px;
    height: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    width: 350px;
    
}
.border-right{
    border-right: 1px solid black;
    margin-right: 20px;
}
.card-text > p {
    margin:7px;
}

.card-text-title{
    font-weight: bold;
    border-bottom:1px solid black;
}

.card-text > span{
    margin-left:8px;
}
