@import "root.css";
@import "reusable.css";

/*flex-row*/

.c-flex {
    display: flex;
    justify-content: center;
}

.c-flex-sb {
    display: flex;
    justify-content: space-between;
}

.c-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.c-flex-jstart {
    display: flex;
    justify-content: flex-start;

}

.c-flex-wrap {
    display: flex;

    flex-wrap: wrap;
}

/* flex-column*/
.c-flex-column {
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.c-flex-column-center {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.c-flex-column-jsstart-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.c-flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.c-flex-column-wrap {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.c-flex-column-wrap-jstart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*single properties*/
.gap10 {
    gap: 10px;
}

.gap40 {
    gap: 40px;
}

.gap20 {
    gap: 20px;
}