.c-height-width-boxinbox {
    width: 98%;
    height: 95%;
}

.c-height70-width100 {
    height: 70%;
    width: 100%;
}

.c-width30 {
    width: 30%;
    height: 70%;
}

.c-width100 {
    width: 100%;
}

.c-height70 {
    height: 70%;
}

.c-width100px {
    width: 100px;
}