.exclusive-stories {
  margin-bottom: 40px;
  padding-top: 8px;
  border-top: 0.4rem black solid;
  margin-top: 4px;
}
.exclusive-stories .stories {
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  border-top: 1px black solid;
}
.exclusive-stories .stories .main-story {
  margin-top: 15px;
}
.exclusive-stories .stories .main-story .card-story-main {
  padding: 1px 24px 0px 24px;
}
.exclusive-stories .stories .main-story .card-story-main .exclusive-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 105px;
  padding: 10px;
  position: relative;
  top: -15px;
}
.exclusive-stories .stories .main-story .card-story-main .exclusive-div .text-exclusive-div {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.exclusive-stories .stories .main-story .card-story-main .text-story-excl {
  position: relative;
  top: -35px;
}
.exclusive-stories .stories .secondary-stories {
  margin: 10px 0px 10px 0px;
  padding: 0px 24px;
}
.exclusive-stories .stories .secondary-stories .first-secondary-story {
  margin-bottom: 20px;
  padding-top: 24px;
  border-top: 1px black solid;
  flex-basis: 100%;
}
.exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-2 .caption {
  padding-bottom: 12px;
}
.exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-marg-txt {
  margin-bottom: 0;
  margin-top: 10px;
}
.exclusive-stories .stories .secondary-stories .first-secondary-story:nth-child(2) {
  border-top: 1px black solid;
  padding-top: 24px;
}
.exclusive-stories .stories .secondary-stories .rdc-story {
  flex-basis: 60%;
}
.exclusive-stories .stories .secondary-stories .rdc-story .card-news {
  padding: 20px 0px;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bolder;
  border-top: 1px black solid;
}
.exclusive-stories .stories .secondary-stories .rdc-story .text-red-cn {
  color: red;
}
.exclusive-stories .stories .secondary-stories .rdc-story .color-span-cn {
  color: gray;
}
.exclusive-stories .stories .secondary-stories .rdc-story .color-span-cn a:hover {
  text-decoration: underline;
}
.exclusive-stories .content-bottom {
  border-top: 1px black solid;
  padding-top: 15px;
  margin-top: 5px;
}
.exclusive-stories .content-bottom .little-div-bottom-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 125px;
  height: 40px;
  position: relative;
  top: -40px;
}
.exclusive-stories .content-bottom .little-div-bottom-down {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  width: 155px;
  height: 40px;
}
.exclusive-stories .content-bottom .absolute-div-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 5px 0px 5px;
}
.exclusive-stories .content-bottom .text-story-bottom {
  position: relative;
  top: -40px;
}
.exclusive-stories .content-bottom .card-story-sp {
  padding: 0px 24px;
}
.exclusive-stories .content-bottom .card-story-sp .link-news h3 {
  font-size: 1.6rem;
}
.exclusive-stories .content-bottom .second-bottom-news {
  padding: 0px 24px;
}
.exclusive-stories .content-bottom .second-bottom-news .bottom-second-story {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin-bottom: 32px;
}
.exclusive-stories .content-bottom .second-bottom-news .bottom-second-story .text-story-btm {
  margin-bottom: 10px;
  padding-top: 20px;
}
.exclusive-stories .content-bottom .second-bottom-news .bottom-second-story .text-story-btm .dimension-text-anti-hero {
  font-size: 3.2rem;
}

@media (min-width: 768px) {
  .exclusive-stories {
    margin-bottom: 0;
  }
  .exclusive-stories .stories .main-story {
    display: flex;
    flex-direction: row;
  }
  .exclusive-stories .stories .main-story .card-story-main {
    display: flex;
    flex-direction: column;
    top: 25px;
    padding: 0px;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div {
    display: flex;
    align-items: unset;
    padding-left: 0;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div .exclusive-dimension-div {
    position: inherit;
    top: 10px;
    left: 0px;
  }
  .exclusive-stories .stories .main-story .card-story-main .text-story-excl {
    position: relative;
    top: -25px;
  }
  .exclusive-stories .stories .main-story .card-story-main .text-story-excl .exclusive-text-main-story {
    margin-top: 12px;
  }
  .exclusive-stories .stories .main-story .marg-anchor-ms {
    margin-right: 28px;
  }
  .exclusive-stories .stories .secondary-stories {
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story {
    border-top: none;
    margin-top: none;
    margin-top: 20px;
    order: 2;
    border: none;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 15px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 15px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .marg-element-card {
    margin-right: 20px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 .marg-anchor-ms .wid-img-musician {
    width: 91%;
  }
  .exclusive-stories .stories .secondary-stories .rdc-story {
    padding-right: 32px;
  }
  .exclusive-stories .stories .secondary-stories .rdc-story .card-news {
    border: none;
    padding-top: 0px;
  }
  .exclusive-stories .content-bottom {
    display: flex;
    justify-content: center;
    padding-top: 28px;
  }
  .exclusive-stories .content-bottom .first-bottom-news {
    border-right: 1px black solid;
    padding-right: 22px;
    flex-basis: 50%;
  }
  .exclusive-stories .content-bottom .first-bottom-news .card-story-sp {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .exclusive-stories .content-bottom .first-bottom-news .card-story-sp .little-div-bottom-up {
    display: flex;
    left: 0px;
    top: -40px;
    margin-bottom: 5px;
  }
  .exclusive-stories .content-bottom .first-bottom-news .card-story-sp .text-story-bottom {
    position: relative;
    top: -45px;
  }
  .exclusive-stories .content-bottom .second-bottom-news {
    flex-basis: 50%;
    padding-right: 0px;
  }
  .exclusive-stories .content-bottom .second-bottom-news .bottom-second-story {
    border: none;
    padding-top: 0px;
    padding-left: 8px;
  }
  .exclusive-stories .content-bottom .second-bottom-news .bottom-second-story .little-div-bottom-down {
    margin-top: 0;
  }
}
@media (min-width: 1000px) {
  .exclusive-stories {
    display: flex;
    margin-top: 0;
  }
  .exclusive-stories .stories .main-story {
    padding-bottom: 0;
  }
  .exclusive-stories .stories .main-story .marg-anchor-ms .main-content-img {
    width: 100%;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-dimension-div {
    top: 0;
  }
  .exclusive-stories .stories .main-story .text-story-excl {
    position: relative;
    top: -35px;
  }
  .exclusive-stories .stories .secondary-stories {
    padding: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 {
    margin-right: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 .marg-anchor-ms {
    margin: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 .marg-anchor-ms .main-content-img {
    width: 90%;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 .marg-anchor-ms .wid-img-musician {
    width: 82.5%;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-2 {
    margin-top: 20px;
    position: relative;
    top: -20px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-2 .link-news .text-title-card-story {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories #second-element-txt {
    position: relative;
    left: -20px;
  }
  .exclusive-stories .stories .secondary-stories .rdc-story .card-news {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .exclusive-stories .content-bottom .first-bottom-news {
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .exclusive-stories {
    margin-top: 0;
  }
  .exclusive-stories .stories {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  .exclusive-stories .stories .main-story {
    flex-direction: column;
    flex-basis: 240%;
    position: relative;
    top: -15px;
  }
  .exclusive-stories .stories .main-story .marg-anchor-ms .main-content-img {
    width: 100%;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div {
    padding: 0;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div .exclusive-dimension-div {
    top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div .exclusive-dimension-div .divider-double-basic {
    border: 2px black double;
    margin-top: 3px;
    width: 90%;
  }
  .exclusive-stories .stories .main-story .card-story-main .exclusive-div .exclusive-dimension-div .divider-exclusive-basic {
    border: 1px black solid;
    margin-top: 3px;
    width: 92%;
  }
  .exclusive-stories .stories .main-story .text-story-excl {
    position: relative;
    top: -30px;
  }
  .exclusive-stories .stories .main-story .text-story-excl .link-news .exclusive-text-main-story {
    padding-right: 15px;
    margin-top: 0;
  }
  .exclusive-stories .stories .secondary-stories {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    border-top: none;
    position: relative;
    top: -20px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story {
    display: flex;
    flex: row;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories {
    flex-basis: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-right: 20px;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 {
    margin-right: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-1 .marg-anchor-ms .main-content-img {
    width: 100%;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-2 {
    margin-top: 10px;
    position: static;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories .element-card-2 .link-news .text-title-card-story {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
  }
  .exclusive-stories .stories .secondary-stories .first-secondary-story .card-secondary-stories #second-element-txt {
    position: static;
  }
  .exclusive-stories .stories .secondary-stories .rdc-story .card-news {
    border-top: 1px solid black;
    margin-top: 2px;
    padding-top: 20px;
    font-size: 1.2rem;
    padding-bottom: 0;
  }
  .exclusive-stories .content-bottom .first-bottom-news {
    padding-right: 22px;
  }
  .element-card-2 {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=exclusive-stories.css.map */
