.more-news-section {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.more-news-title {
    font-family: "Public-Banner-Web-Ultra", serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 15px 24px 8px;
}

.news-content {
    margin-bottom: 10px;
    border-bottom: 1px solid;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 12px;
}

.news-img {
    width: 100%;
    display: flex;
    border: 1px solid grey;
    margin-bottom: 6px;
}

.news-title {
    font-family: "graphik", sans-serif;
    font-size: 11px;
    color: black;
    width: fit-content;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    padding: 5px;
}

.news-link {
    font-family: "Public-Headline-Web-Bold";
    font-size: 23px;
    text-decoration: none;
    color: black;
}

.news-para {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.news-author {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 23px;
    margin-top: 5px;
}



.news-content-imp {
    margin-bottom: 10px;
    border-bottom: 1px solid;
    margin-top: 15px;
    position: relative;
    padding-left: 15px;
    padding-right: 12px;
}

.news-img-imp {
    width: 100%;
    object-fit: cover;
    border-width: 0px;
    padding-bottom: 10px;
    width: 100%;
}

.news-title-imp {
    font-family: "graphik", sans-serif;
    font-size: 12px;
    color: black;
    margin-left: 30px;
    position: absolute;
    bottom: -5%;
    background-color: white;
    border-bottom: 3px solid black;
    box-shadow: 0 1px 0 black;
    padding: 8px;
}

.news-link-imp {
    font-family: "Public-Banner-Web-Ultra", serif;
    font-size: 32px;
    text-decoration: none;
    color: black;
    margin: 30px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-inline-start: 20px;
}

.news-para-imp {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.news-author-imp {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 13px;

}

.link-imp {
    font-family: "Public-Banner-Web-Ultra", serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black
}

.news-title-imp-xl {
    font-family: Graphik Semibold, sans-serif;
    font-size: 12px;
    color: black;
    border-bottom: 3px solid black;
    width: fit-content;
}

.news-title-imp-2 {
    font-family: Graphik Semibold, sans-serif;
    font-size: 12px;
    color: black;
    margin-left: 30px;
    position: absolute;
    bottom: 16%;
    background-color: white;
    border-bottom: 3px solid black;
    box-shadow: 0 1px 0 black;
    padding: 8px;
}



.read-more-container {
    display: flex;
    padding-top: 10px;

    .read-more-link {
        display: flex;
        height: 30px;
        border-bottom: 1px solid black;
        color: black;
        text-decoration: none;
        white-space: nowrap;
        font-size: 13px;
        padding-bottom: 10px;
    }

    .read-more-img {
        margin-top: 8px;
        width: 25px;
        height: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}


@media (min-width: 768px) {
    .news-link {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.news-img-and-p {
    position: relative;
}

@media(min-width:768px) {
    .hidden-more-news-image {
        display: none;
    }

    .news-title-imp {
        display: none;
    }

    .news-title-imp-2 {
        display: none;
    }

}

@media(min-width:1000px) {
    .hidden-more-news-image {
        display: block;
    }

    .news-content {
        display: flex;

    }

    .news-img {
        width: 298.4px;
        height: 198.93px;
    }

    .more-news-section {
        padding: 75px 112px;
        margin: 0px 0px 56px;
    }

    .news-text {
        padding: 0px 0px 0px 28px;
    }

    .news-img-imp {
        width: 421.59px;
        height: 281.05px;
    }

    .news-content-imp {
        display: flex;
    }

    .news-text-imp {
        padding: 0px 0px 0px 28px;

    }

    .link-imp {
        font-family: "Public-Banner-Web-Ultra", serif;
        font-size: 35px;
    }

    .news-para-imp {
        display: none;
    }

    .news-title-imp {
        display: none;
    }

    .news-title-imp-2 {
        display: none;
    }
}