body {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
}

.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap-pmc-mostpopular {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.most-popular {
  display: flex;
}

#most-popular-title {
  margin-top: 0px;
}

.text-of-firts-most-popular {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0px;
}

.first-most-popular-card {
  padding-left: 20px;
}

.first-popular-wrap {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.first-popular-wrap::before {
  content: "1";
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.first-popular {
  border-bottom: 1px dotted black;
  text-decoration: none;
  color: black;
}

#ultimus {
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.all-list-you-might-also-like {
  display: flex;
  gap: 30px;
  overflow: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.img-386-183 {
  width: 326px;
  height: 183px;
}

.more-specific-list-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-also-like {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.no-margin-also-like-text {
  font-weight: 400;
}

.content-of-also-like {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-content-of-also-like {
  display: flex;
  flex-direction: column;
}

.no-margin-also-like-text {
  margin: 0px;
}

footer {
  width: 100%;
}

footer,
.backblack,
.border3-padding050,
.border1 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backblack {
  height: 450px;
  width: 100%;
  padding: 20px 24px;
}

.border3-padding050 {
  height: 430px;
  width: 430px;
  padding: 8px;
  border: 3px solid white;
}

.border1 {
  border: 1px solid white;
  height: 410px;
  width: 410px;
}

.wrap-final-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.border-button {
  color: black;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 90px;
  padding-right: 90px;
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.final-button {
  text-decoration: none;
  background-color: white;
  height: 28px;
  width: 347px;
  padding: 6px 4px 8px 4px;
}

#customer-service,
#give-a-gift {
  color: white;
  background-color: black;
  border: 1px solid white;
}

#wrap-give-gift,
#wrap-customer {
  background-color: black;
  border: 1px solid white;
}

.final-button:hover {
  background-color: red;
}

#wrap-give-gift:hover,
#wrap-customer:hover {
  background-color: red;
}

#customer-service:hover,
#give-a-gift:hover {
  background-color: red;
}

#wrap-rolling,
#wrap-legal {
  border: 1px solid white;
  height: 28px;
  width: 347px;
  padding: 6px 4px 6px 4px;
}

.list-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding-bottom: 10px;
}

#svs-down {
  width: 10px;
  height: 10px;
  font-size: 10px;
}

.down {
  fill: white;
}

.pmc-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-final-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  width: 360px;
  border: 1px solid black;
}

#pmc-final-footer {
  height: 20px;
  width: 120px;
  padding-top: 40px;
  padding-bottom: 20px;
}

#another-down {
  fill: black;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  color: gray;
  font-weight: 900;
}

.copyright-p {
  margin: 10px 0px 0px 0px;
}

.link-wordpress {
  text-decoration: none;
  color: gray;
}

/*# sourceMappingURL=footerscss.css.map */
