.container-generale {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}

.immagini {
  width: 100%;
  margin: 0;
  margin-top: 12px;
}

.square-container{
  position: relative;
}
.square-container-2 {
  position: relative;
  padding-top: 8px;
}
.square-text-1 {
  position: absolute;
  bottom: -3%;
  left: 3%;
  background-color: white;
  padding: 15px;
}
.square-text-1 > span{
    font-family: "Graphik Semibold", sans-serif;
    font-weight: bold;

}
.immagini-sq {
  width: 100%;
  margin: 0;
}

.article-section {
  padding: 1rem;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 6px;
}
.contenuto-1{
  width: 100%;
  padding:0;
}
.contenuto {
  padding-top: 1rem;
}
.container-section-small{
  margin-left: 5%;
  margin-right: 5%;
}

.border-desktop{
  display: none;
}
.border-desktop-square{
  display: none;
}
.border-desktop-bottom{
  display: none;
}

.border-desktop-small{
  display: none;
}
.contenuto-small{
  margin-left:2%;
  margin-top:2%;
  margin-right: 2%;
}
.contenuto-trump{
  padding-top: 1rem;
  width: 100%;
}
blockquote{
  margin:10px 0;
  text-transform: uppercase;
  font-size: 11px;
}

.container-section2 {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.article-section2 {
  padding: 16px;
  font-size: 1rem;
}

.article-section2 > p {
  border-bottom: 1px solid black;
  display: inline;
  font-weight: bold;
  font-size: 0.6875rem;
  
}

.article-section2 > h2 {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 17px;
}

.h2-section-big {
  font-family: "Public-Banner-Web-Ultra", serif;
  font-size: 2.375rem;
}

.h2-section{
 font-family: "Public-Headline-Web-Bold", serif;
 font-size: 1.25rem;
 font-weight: 700;
}

.p-section {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.section3 {
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 120px;
}
.image-card {
  width: 100px;
  height: 100px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 350px;
}

.card-text > p {
  margin: 7px;
}

.card-text-title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.card-text > span {
  margin-left: 8px;
}
