@import url("root.css");
@import url("../components/reusable.css");

/* navbar */
@import url("../components/navbar/popup-subscribe.css");
@import url("../components/navbar/navbar-primary.css");
@import url("../components/navbar/dropdown.css");
@import url("../components/navbar/navbar-secondary.css");
@import url("../components/navbar/popup-search.css");

/*section 1*/
@import url("../components/section-1/section-1.css");
@import url("../components/section-1/section-1-responsive.css");

/*section 2*/
@import url("../components/section-2/the-latest.css");
@import url("../components/section-2/exclusive-stories.css");
@import url("../components/section-2/recommends.css");
@import url("../components/section-2/section-2.css");

/*section 3*/
@import url("../components/section-3/reports.css");
@import url("../components/section-3/adverts.css");
@import url("../components/section-3/more-news.css");
@import url("../components/section-3/content-by-rs.css");

/*footer*/
@import url("../components/footer/footer-classes.css");
@import url("../components/footer/upper-footer.css");
@import url("../components/footer/menu-desktop-tablet.css");
@import url("../components/footer/bottom-footer.css");


.wrap-you-might-also-like {
    max-width: 100%;
}

.all-list-you-might-also-like {
    max-width: 100%;
}

.img-386-183 {
    width: 202px;
    height: 113px;
}

.more-specific-list-element {
    width: 202px;
    height: 263px;
}


.buttons {
    display: none;
}

#wide-container {
    display: block;
}

#hiddenindesk {
    display: none;
}

.buttons-desktop {
    display: flex;
}