#wide-container {
    width: 100%;
    display: none;

    height: 501px;
    font-weight: 500;
}

#wide-container2 {
    border: 3px solid white;
    margin-left: 10px;
    margin-top: 10px;

}

#wide-container3 {
    border: 2px solid white;

    margin-top: 10px;

}

#upper-wide-section {
    margin-left: 9px;
    margin-right: 9px;
}

#bottom-wide-section {
    margin-left: 9px;
    margin-right: 9px;
    padding-top: 15px;
}