.recommends {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.border-recommends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    border-left: unset;
    border-right: unset;
    margin: 4px 4px;
    width: 100%;
}

.border-triple-recommends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    width: 100%;
}

.header-recommends {
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    background-color: white;
    position: relative;
    padding: 0 20px;
}

.title-header-recommends {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 15px;
}


.logo-recommends {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.news-carousel {
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 7%;
    margin-bottom: 4%;
}

.item-carousel {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 230px; 
}

.news-carousel >  .item-carousel > .circle-border > a > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.news-carousel > .item-carousel > .circle-border {
    border: 1px black solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 4px;

}

.text-item-carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 12px;
}

.text-item-carousel > a {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.border-caption-carousel {
    border-bottom: 1px solid;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.blank-picks {
    position: relative;
    background-color: white;
    padding: 0 20px;
    top: -28px;
}

.picks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 2px;
    width: 220px;
    border: 1px solid black;
    outline: 1px solid black;
    margin: 0;
    position: relative;
    background-color: white;
    top: -10px;
}

.more-picks {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 4px;
    outline: 2px solid black;
}

.more-picks img {
    width: 10px;
    vertical-align: unset;
}

.more-picks a {
    color: white;
}

.quote  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.quote-text {
    padding: 0px 20px;
    margin: 14px 0px 18px;
    font-size: 1.6rem;
    font-weight: bold;
}

.quote-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 8px 0px 16px;
}

.quote-link > #author > a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {

   .border-recommends .recommends {
    margin-top: 40px;
   }

   .quote {
    border-bottom: 1px black solid;
   }

   .news-carousel {
    margin-top: 0;
    padding-top: 5px;

   }

}

@media (min-width: 1000px) {
    
    .recommends {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-shrink: 1;
        margin-top: 0;
    }

    .item-carousel {
        border-right: 1px solid black;
        margin-right: 5px;
    }

    .item-carousel:nth-child(4) {
        border: none;
    }
    
    .item-carousel:last-child {
        border: unset;
    }

    .border-recommends {
        border: 4px black solid;
        margin: 3px 3px;
        width: 98.5%;
    }

    .header-recommends {
        position: relative;
        top: -50px;
    }
    
    .quote-spacing {
        padding: 0 90px;
    }
}


@media (min-width: 1200px) {
    .quote-text{
        font-size: 1.5rem;
    }

    .item-carousel:nth-child(4) {
        border: initial;
    }

    .item-carousel:last-child {
        border: none;
    }

    .border-recommends {
        max-width: 1300px;
    }

    .quote-link {
        display: flex;
        flex-direction: row;
        justify-items: center;
    }

    .quote-link-spacing {
        margin-right: 15px;
    }

    .quote-link #author *{
        margin-top: 0;
        margin-right: 3px;
    }
}