
.border-right-1pxwhite {
    border-right: 1px solid white;
}

.border-bottom-1pxwhite {
    border-bottom: 1px solid white;
}

.border-top-1pxwhite {
    border-top: 1px solid white;
}
/*flex-row*/

.c-flex {
    display: flex;
    justify-content: center;
}

.c-flex-sb {
    display: flex;
    justify-content: space-between;
}

.c-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.c-flex-jstart {
    display: flex;
    justify-content: flex-start;

}

.c-flex-wrap {
    display: flex;

    flex-wrap: wrap;
}

/* flex-column*/
.c-flex-column {
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.c-flex-column-center {
    display: flex;
    align-items: center;

    flex-direction: column;
}

.c-flex-column-jsstart-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.c-flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.c-flex-column-wrap {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.c-flex-column-wrap-jstart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*single properties*/
.gap10 {
    gap: 10px;
}

.gap40 {
    gap: 40px;
}

.gap20 {
    gap: 20px;
}
.margintop-40 {
    margin-top: 40px;
}

.margintop-60 {
    margin-top: 60px;
}

.margintop-10 {
    margin-top: 10px;
}

.marginright-40 {
    margin-right: 40px;
}
.padding-right90 {
    padding-right: 90px;
}

.padding-right150 {
    padding-right: 150px;
}

.padding-right40 {
    padding-right: 40px;
}

.padding-left40 {
    padding-left: 40px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}
.c-height-width-boxinbox {
    width: 98%;
    height: 95%;
}

.c-height70-width100 {
    height: 70%;
    width: 100%;
}

.c-width30 {
    width: 30%;
    height: 70%;
}

.c-width100 {
    width: 100%;
}

.c-height70 {
    height: 70%;
}

.c-width100px {
    width: 100px;
}
.divider-full {
    border-top: 1px solid black;
    margin-top: 4px;
    margin-bottom: 3px;
    width: 100%;
}

.divider-xl {
    border-top: 1px solid black;
    margin: 4px 5px 0 5px;
    width: 99%;
}

.bordered-button-white {
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid black;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.bordered-button-black {
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;

    border: 1px solid white;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.white-button-bordered-anchor {
    text-decoration: none;
    background-color: white;
    height: 34px;
    width: 207px;
    padding: 6px 4px 8px 4px;
}

.black-button-bordered-anchor {
    text-decoration: none;
    background-color: black;
    height: 34px;
    width: 207px;
    padding: 6px 4px 8px 4px;
    border: 1px solid white;
}

.svg-followus {
    height: 16px;
    width: 16px;
    color: red;
    fill: red;


    line-height: 21.6px;
    text-align: left;

}

.link-svg {
    text-decoration: none;
}

.buttonhover:hover {
    background-color: red;
}
.c-back-black {
    background-color: black;
}

.displayinline {
    display: inline;
}

.text-white {
    color: white;
}





.textstart {
    text-align: start;
}
/*elementi poco puliti upper-footer*/ 
.text-of-first-most-popular {
    font-family: Georgia,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
  }
  
.first-most-popular-card {
    padding-left: 20px;
  }
  .first-popular-wrap {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  .first-popular {
    border-bottom: 1px dotted black;
    text-decoration: none;
    color: black;
  }
  
.img-386-183 {
    width: 326px;
    height: 183px;
  }
  .more-specific-list-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-to-also-like {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
  }
  .no-margin-also-like-text {
    font-weight: 400;
  }
  .content-of-also-like {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .text-content-of-also-like {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .no-margin-also-like-text {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  /* fine elementi poco puliti upper-footer*/ 
  /*elementi poco puliti bottom-footer*/ 
  .border-button {
    color: black;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 90px;
    padding-right: 90px;
    border: 1px solid black;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
  .final-button {
    text-decoration: none;
    background-color: white;
    height: 28px;
    width: 347px;
    padding: 6px 4px 8px 4px;
  }
   /* fine elementi poco puliti bottom-footer*/ 
  