/* navbar */
.divider-full {
    border-top: 1px solid black;
    margin-top: 4px;
    margin-bottom: 3px;
    width: 100%;
}

.divider-xl {
    border-top: 1px solid black;
    padding: 4px 5px 0 5px;
    width: 90%;
    align-self: center;
}

.divider-xs {
    border-top: 1px solid black;
    width: 10px;
    margin: 0;
}

.flex {
    display: flex;
}
.flex-justify-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}
.flex-dir-col {
    flex-direction: column;
}
.mobile {
    display:none;
}

@media (min-width: 768px) {
    .divider-primary {
        display:none;
    }
    .mobile {
        display: block;
    }
}
/*section 1*/
.border-xl {
    margin-top: 3px;
    border-bottom: 4px solid black;
    width: 100%;
  }
  
  .border {
    margin-top: 2px;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
  }

  .border-right {
    border-right: 1px solid black;
    margin-right: 0.8rem;
    padding-left: 1.5rem;
    margin-top: 7px;
  }
  

.border-desktop{
  margin-top: 10px;
  border-top:1px solid black;
  
}

.border-desktop-small{
  border-top:1px solid black;

}

.border-desktop-bottom{
  border-top:1px solid black;
  padding-bottom: 10px;
}

.border-desktop-square{
  border:1px solid black;
}
/*section 2*/

.divider-double-basic {
    border: 2px black double;
    margin-top: 3px;
}

.divider-basic {
    border: 1px black solid;
    width: 100%;
    margin-top: 3px;
}

.divider-exclusive-basic {
    border: 1px black solid;
    margin-top: 3px;
}

.border-double {
    border: 3px black solid;
    margin-top: 10px;
}

.border-caption {
    border-bottom: 0.015rem solid;
    padding-bottom: 4px;
}

.divider-bottom {
    border-bottom: 1px solid black;
    padding: 16px 0;
}
small {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

time {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

#hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

#author {
    display: flex;
}

#author * {
    margin-right: 4px;
    margin-top: 4px;
    font-size: 15px;
}

#author > a:hover {
    color: gray;
    text-decoration: underline;
}

.main-content-img {
    width: 100%;
}

.text-spacing {
    margin-top: unset;
    margin-bottom: unset;
}

.graphik-font {
    font-family: "graphik", sans-serif;
}

.publico-head {
    font-family: "publico-headline", sans-serif;
    margin-top: 10px;
}

.publico-web-ultra {
    font-family: "publico-banner-web-ultra", san;
}

.publico-head-main-stories {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}