.border-xl {
    margin-top: 3px;
    border-bottom: 4px solid black;
    width: 100%;
  }
  
  .border {
    margin-top: 2px;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
  }

  .border-right {
    border-right: 1px solid black;
    margin-right: 0.8rem;
    padding-left: 1.5rem;
    margin-top: 7px;
  }
  

.border-desktop{
  margin-top: 10px;
  border-top:1px solid black;
  
}

.border-desktop-small{
  border-top:1px solid black;

}

.border-desktop-bottom{
  border-top:1px solid black;
  padding-bottom: 10px;
}

.border-desktop-square{
  border:1px solid black;
}