body {
    margin: 0;
}

img {
    width: 100%;
}

small {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

time {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.border {
    border: 2px black double;
    width: 100%;
    margin-top: 3px;
}

.border-thin {
    border: 1px black solid;
    width: 100%;
    margin-top: 3px;
}

.border-double {
    border: 3px black solid;
    margin-top: 10px;
}

.border-recommends {
    border-top: 4px black solid;
    border-bottom: 4px black solid;
    padding: 5px;
}

.border-more-picks {
    padding: 3px;
    border: 1px black solid;
}

section {
    margin-top: 0.25rem;
}

#hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}


.latest-news h3 {
    margin-top: 7px;
}

.latest-news> .header-latest {
    border-top: 6px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px;
}

.latest-news>div>h2 {
    padding: 12px 0px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: .125rem;
}

.border-caption {
    border-bottom: 0.015rem solid;
    padding-bottom: 4px;
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 22px;
}

.news-list > div > h3 {
    text-transform: capitalize;
    margin: 8px 0px 4px;
}

.news-list > div {
    padding: 16px 4px;
    border-bottom: 1px solid black;
}

.read-more {
    border-bottom: 1px black solid;
}

.read-more > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
}

.exclusive-stories {
    margin-bottom: 40px;
    padding-top: 16px;
    border-top: 1px black solid;
}

.card-story {
    position: relative;
}

.stories {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.main-story > .card-story  {
    padding: 0px 24px;
}

.little-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 105px;
    position: absolute;
    top: -55px;
    
}

.absolute-div > p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.little-div-bottom-up {
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 125px;
    height: 40px;
    position: relative;
    top: -25px;
    left: -24px;
}

.little-div-bottom-down {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 125px;
    height: 40px;
    position: relative;
    top: 15px;    
}

.absolute-div-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    width: 105px;
    height: 35px;
    padding: 5px 5px 0px 5px
}

.text-story > h3 {
    padding-bottom: 4px;
}

.text-story > h3 > a {
    font-size: 30px;
    padding: 16px 0px 4px;
    text-decoration: none;
}

#author {
    display: flex;
}

#author > * {
    margin-right: 4px;
    margin-top: 4px;
    font-size: 15px;
}

#author > a:hover {
    color: gray;
    text-decoration: underline;
}

.secondary-stories {
    margin: 10px 0px 10px 0px;
    padding: 0px 24px;
}

.cards-column {
    margin-top: 20px;
    border-top: 1px black solid;
}

.first-secondary-story {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 24px;
    border-top: 1px black solid;
    flex-basis: 100%;
}

.element-card-2 > h3 {
    margin-bottom: 0;
    margin-top: 5px;
}

.first-secondary-story > .card-story > .caption {
   padding-bottom: 12px;
}

.first-secondary-story > .card-story:nth-child(2) {
    border-top: 1px black solid;
    padding-top: 24px;
}

.first-secondary-story, .second-secondary-story > h3 > a {
    font-size: 22px;
}

.second-secondary-story {
    flex-basis: 100%;
}

.card-news {
    padding: 20px 0px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    border-top: 1px black solid;
}

.card-news > span:first-child {
    color: red;
}

.card-news > span {
    color: gray;
}

.card-news > span > a {
    color: gray;
}

.card-news > span > a:hover {
    text-decoration: underline;
}
 
.content-bottom {
    border-top: 1px black solid;
    padding-top: 15px;
    margin-top: 5px;    
}

.first-bottom-news > .card-story > .text-story {
    position: relative;
    top: -15px;
}

.first-bottom-news > .card-story > .text-story > span {
    padding-top: 5px;
}

.first-bottom-news > .card-story{
    padding: 0px 24px;
}

.second-bottom-news {
    padding: 0px 24px;
}

.bottom-second-story {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 32px;
}

.bottom-second-story > .text-story {
    margin-bottom: 10px;
    padding-top: 16px;
}

.bottom-second-story > .text-story > h3 > a {
    font-size: 45px;
}

.bottom-second-story > .text-story > p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.border-recommends {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommends {
    width: 100%;
    margin-top: 80px;
}

.header-recommends {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    top: -40px;
    position: absolute;
    background-color: white;
    padding: 0px 16px;
}

.border-recommends > .header-recommends > img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.news-carousel {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.item-carousel {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 230px;
}

.news-carousel >  .item-carousel > .circle-border > a > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.news-carousel > .item-carousel > .circle-border {
    border: 1px black solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 4px;

}

.text-item-carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 12px;
}

.text-item-carousel > a {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.border-caption-carousel {
    border-bottom: 1px solid;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.picks {
    z-index: 1;
    position: relative;
    top: 40px;
    padding: 0px 10px;
    background-color: white;
}

.more-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 220px;
    height: 30px;
    position: relative;
}

.quote  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.quote > .text-story > h3 {
    padding: 0px 20px;
    margin: 24px 0px 18px;
    font-size: 30px;
}

.quote-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 8px 0px 16px;
}

.quote-link > #author > a:hover {
    text-decoration: none;
}

