.container-sizing-box {
    box-sizing: border-box;
}

.latest-article-subtitle {
    font-size: 0.8rem;
}

.latest-article-title{
    font-size: 1rem;
    font-weight: bold;
}

.latest-article-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.latest-news h3 {
    margin-top: 7px;
}

.latest-news> .header-latest {
    border-top: 6px solid black;
    border-bottom: 1px solid black;
    padding: 5px 20px;
}

.latest-news div h2 {
    padding: 12px 0px;
    line-height: 1.25rem;
    letter-spacing: .125rem;
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 22px;
}

.news-list > div > h3 {
    text-transform: capitalize;
    margin: 8px 0px 4px;
}

.news-list > div {
    padding: 16px 4px;
    border-bottom: 1px solid black;
}

.read-more {
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
}

.read-more > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
}

.read-more img {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    position: relative;
    top: 26px;
}

@media (min-width: 768px) {
    body {
        padding: 0px 24px;
    }

    .latest-news > .header-latest {
        padding: 12px 0px;
    }

    .exclusive-stories {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .latest-news .news-list {
        padding: 0;
    }

    .latest-news #hidden {
        display: contents;
    }

 }

 @media (min-width: 1000px) {
    .second-container{
        display: flex;
        gap: 2.75rem;
    }

    .second-container .latest-news > .header-latest {
        padding-left: 0px;
    }

    .latest-news .border-double {
        display: none;
    }

    .latest-news .news-list > div {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        font-size: 13px;
    }

    time {
        margin-top: 5px;
    }

    .header-latest h2 {
        margin: 0;
    }

    .news-list .read-more {
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        width: 120px;
        border-bottom: none;
        border-top: 1px black solid;
        text-transform: uppercase;
    }

    .news-list .read-more > a {
        margin: 0;
    }

    .read-more > img:last-child {
        position: relative;
        top: 6px;
        left: 5px;
        transform: rotate(360deg);

    }
 }