

































.boxsize-borderbox{
    box-sizing: border-box;
}
.fontcustom-button{
    font-family: Georgia;
    font-weight: 700;
    font-size: 13px;
}
/*elementi poco puliti upper-footer*/ 
.text-of-first-most-popular {
    font-family: Georgia,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
  }
  
.first-most-popular-card {
    padding-left: 20px;
  }
  .first-popular-wrap {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  .first-popular {
    border-bottom: 1px dotted black;
    text-decoration: none;
    color: black;
  }
  

  
  .link-to-also-like {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
  }
  .no-margin-also-like-text {
    font-weight: 400;
  }
  .content-of-also-like {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .text-content-of-also-like {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .no-margin-also-like-text {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  /* fine elementi poco puliti upper-footer*/ 
 