#wide-container {
    
    display: none;

    height: 501px;
    font-weight: 500;
}

#wide-container2 {
    border: 3px solid white;
    margin-left: 10px;
    margin-top: 10px;

}

#wide-container3 {
    border: 2px solid white;

    margin-top: 10px;

}

#upper-wide-section {
    margin-left: 9px;
    margin-right: 9px;
}

#bottom-wide-section {
    margin-left: 9px;
    margin-right: 9px;
    padding-top: 15px;
}
@media (min-width: 992px) {
   
    

    .you-might-also-like {
        max-width: 60%;
        display: flex;
        align-items: center;
    }
    .wrap-you-might-also-like{
        max-width: 100%;
    }
    .all-list-you-might-also-like{
        max-width: 100%;
    }
    .img-386-183{
        width: 202px;
        height: 113px;
    }
    .more-specific-list-element{
        width: 202px;
        height: 263px;
    }
    

    .buttons {
        display: none;
    }

    #wide-container {
        display: flex;
    }

    #hiddenindesk {
        display: none;
    }
    .buttons-desktop{
        display: flex;
    }
    
}
 