.logo-pmc-wrap {
  height: 12px;
  padding-left: 10px;
}

.svg-first-most-popular {
  height: 12px;
  padding: 6px 0;
}

.svg-also-like {
  height: 16px;
  width: 57.8px;
}

.flickity-button-icon {
  height: 12px;
  width: 73.8px;
}

.upper-footer-container {
  display: flex;
  flex-direction: column;
}

.upper-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.wrap-pmc-mostpopular {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.most-popular {
  display: flex;
}

#most-popular-title {
  margin-top: 0px;
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.first-popular:hover {
  color: grey;
}

.link-to-also-like:hover {
  color: black;
  text-decoration: underline;
}

.first-popular-wrap:nth-child(2)::before {
  content: "1";
  font-weight: bold;
  font-size: 20px;
}

.first-popular-wrap:nth-child(3)::before {
  content: "2";
  font-weight: bold;
  font-size: 20px;
}

.first-popular-wrap:nth-child(4)::before {
  content: "3";
  font-weight: bold;
  font-size: 20px;
}

.first-popular-wrap:nth-child(5)::before {
  content: "4";
  font-weight: bold;
  font-size: 20px;
}

#ultimus {
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.you-might-also-like {
  max-width: 96%;
  display: flex;
  margin: auto;
  align-items: center;
}

.all-list-you-might-also-like {
  display: flex;
  gap: 30px;
  overflow: auto;
  
}

.wrap-you-might-also-like {
  max-width: 100%;
}

.all-list-you-might-also-like {
  max-width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons-desktop {

  padding-top: 10px;
  display: none;
  gap: 40px;

}

.section-1000px {
  display: flex;
  justify-content: space-between;


}

.flickity-button-icon-desktop {
  height: 20px;
}

@media (min-width: 992px) {
  .upper-footer-container {
    flex-direction: row;
  }

  .upper-footer {
    flex-direction: column;
    gap: 30px;
  }

  .you-might-also-like {
    max-width: 65%;
    padding-left: 30px;
  }
}